{% extends 'templates/template2/mono-main/theme/layout.html' %}
{% block card %} Livros disponíveis{% endblock %}
{% block title %}Livros | Livre-Livro{% endblock %}
{% block conteudo %}
{% load static %}
  
              <table id="productsTable" class="table table-hover" style="width:100%">
                <thead>
                  <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Descrição</th>
                    <th>Doador</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td>Coach Swagger</td>
                    <td>24541</td>
                    <td>27</td>
                    <td>27</td>
                    <td>
                      <div class="dropdown">
                        <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Ver</a>
                          <a class="dropdown-item" href="#">Quero</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>Toddler Shoes, Gucci Watch</td>
                    <td>24542</td>
                    <td>18</td>
                    <td>27</td>
                    <td>
                      <div class="dropdown">
                        <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Ver</a>
                          <a class="dropdown-item" href="#">Quero</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>Hat Black Suits</td>
                    <td>24543</td>
                    <td>20</td>
                    <td>27</td>
                    <td>
                      <div class="dropdown">
                        <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Ver</a>
                          <a class="dropdown-item" href="#">Quero</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>Backpack Gents</td>
                    <td>24544</td>
                    <td>37</td>
                    <td>27</td>
                    <td>
                      <div class="dropdown">
                        <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Ver</a>
                          <a class="dropdown-item" href="#">Quero</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>Speed 500 Ignite</td>
                    <td>24545</td>
                    <td>8</td>
                    <td>27</td>
                    <td>
                      <div class="dropdown">
                        <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Ver</a>
                          <a class="dropdown-item" href="#">Quero</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>Olay</td>
                    <td>24546</td>
                    <td>19</td>
                    <td>27</td>
                    <td>
                      <div class="dropdown">
                        <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Ver</a>
                          <a class="dropdown-item" href="#">Quero</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>Ledger Nano X</td>
                    <td>24547</td>
                    <td>61</td>
                    <td>27</td>
                    <td>
                      <div class="dropdown">
                        <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Ver</a>
                          <a class="dropdown-item" href="#">Quero</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>Surface Laptop 2</td>
                    <td>24548</td>
                    <td>33</td>
                    <td>27</td>
                    <td>
                      <div class="dropdown">
                        <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Ver</a>
                          <a class="dropdown-item" href="#">Quero</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>TIGI Bed Head Superstar Queen</td>
                    <td>24549</td>
                    <td>3</td>
                    <td>27</td>
                    <td>
                      <div class="dropdown">
                        <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Ver</a>
                          <a class="dropdown-item" href="#">Quero</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>Wattbike Atom</td>
                    <td>24550</td>
                    <td>61</td>
                    <td>27</td>
                    <td>
                      <div class="dropdown">
                        <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Ver</a>
                          <a class="dropdown-item" href="#">Quero</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>Smart Watch</td>
                    <td>24551</td>
                    <td>19</td>
                    <td>27</td>
                    <td>
                      <div class="dropdown">
                        <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Ver</a>
                          <a class="dropdown-item" href="#">Quero</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>Magic Bullet Blender</td>
                    <td>24552</td>
                    <td>12</td>
                    <td>27</td>
                    <td>
                      <div class="dropdown">
                        <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Ver</a>
                          <a class="dropdown-item" href="#">Quero</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
{% endblock %}