{% extends 'template2/mono-main/theme/layout.html' %}
{% block card %}Doar Livro{% endblock %}
{% block title %}Doar | Livre-Livro{% endblock %}
{% block conteudo %}
{% load widget_tweaks %}
<form method="POST">
  {% csrf_token %}
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Título</label>
       {% render_field formLivro.titulo class+='form-control' placeholder+='Digite Aqui' %}
      </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Autor</label>
        {% render_field formLivro.autor class+='form-control' placeholder+='Digite Aqui' %}
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Gênero</label>
        {% render_field formLivro.genero class+='form-control' placeholder+='Digite Aqui' %}
      </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Estado de conservação</label>
        {% render_field formLivro.estado class+='form-control' placeholder+='Digite Aqui' %}
      </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Sinopse</label>
      {% render_field formLivro.sinopse class+='form-control' placeholder+='Digite Aqui' %}
    </div>
    
    <div class="form-footer mt-6">
      <button type="submit" class="btn btn-primary btn-pill">Enviar</button>
      
    </div>
   
  </form>
  
  

{% endblock %}