{% extends 'template2/mono-main/theme/layout.html' %}
{% block card %} Livros disponíveis{% endblock %}
{% block title %}Livros | Livre-Livro{% endblock %}
{% block conteudo %}
{% load static %}
  
              <table id="productsTable" class="table table-hover" style="width:100%">
                <thead>
                  <tr>
                    <th>Doador</th>
                    <th>Contato</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Gênero</th>
                    <th>Sinopse</th>
                    <th>Estado</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in livros %} 
                   <tr>
                   <td>{{ i.doador_id }}</td>
                   <td>{{ i.contato }}</td>
                   <td>{{ i.titulo }}</td>
                   <td>{{ i.autor }}</td>
                   <td>{{ i.genero }}</td>
                   <td>{{ i.sinopse }}</td>
                   <td>{{ i.estado }}</td>
                    <td>
                      <div class="dropdown">
                        <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        </a>
          
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="{% url 'url_delete' i.id %}">peguei</a>
                        </div>
                      </div>
                      
                    </td>
                    {% endfor %}
                                            
                    </tr>
                </tbody>
              </table>
{% endblock %}